<form {{action 'saveResponsable' on='submit'}}>
	<p>
	<label>Nombre de responsable</label>
	{{input value=responsable.nombre }}
	</p>

	<p>
	<label>Email</label>
	{{input value=responsable.mail}}
	</p>

	<p>
	<label>Extensión</label>
	{{input value=responsable.extension}}
	</p>

	<input type="submit" value="Guardar" />
</form>
