<p>Semestre:
{{#x-select value=selectedPeriodo}}
	{{#x-option value=null}}
		Selecciona
	{{/x-option}}
	{{#each periodos as |periodoChoice|}}
		{{#x-option value=periodoChoice}}{{periodoChoice.semestre}}{{/x-option}}
	{{/each}}
{{/x-select}}
</p>

<p>Responsable:
{{#x-select value=selectedResponsable}}
	{{#x-option value=null}}
		Selecciona
	{{/x-option}}
	{{#each responsables as |responsableChoice|}}
		{{#x-option value=responsableChoice}}{{responsableChoice.nombre}}{{/x-option}}
	{{/each}}
{{/x-select}}
</p>

<p>Carrera:
{{#x-select value=selectedCarrera}}
	{{#x-option value=null}}
		Selecciona
	{{/x-option}}
	{{#each alumnos as |carreraChoice|}}
		{{#x-option value=carreraChoice}}{{carreraChoice.carrera}}{{/x-option}}
	{{/each}}
{{/x-select}}
</p>

<p>Horas: {{input value=horas name="horas" id="horas" placeholder="20"}}</p>

<button {{action 'doConsulta'}}>Buscar</button>

<table>
	<tr>
		<td>
			<p>Nombre de Alumno</p>
		</td>
		<td>
			<p>Matricula</p>
		</td>
		<td>
			<p>Responsable</p>
		</td>
		<td>
			<p>Carrera</p>
		</td>
		<td>
			<p>Semestre</p>
		</td>
		{{#each selectedPeriodo.parciales as |parcial|}}
			<td>
				<p>{{parcial.nombre}}</p>
			</td>
		{{/each}}
	</tr>


	{{#each alumnosFiltrados as |alumno|}}

	<tr>
		<td>
			<p>{{alumno.becado}}</p>
		</td>
		<td>
			<p>{{alumno.matricula}}</p>
		</td>
		<td>
			<p>{{alumno.nomres}}</p>
		</td>
		<td>
			<p>{{alumno.carrera}}</p>
		</td>
		<td>
			<p>{{alumno.semestre}}</p>
		</td>
		{{#each selectedPeriodo.parciales as |parcial|}}
			<td>
				<p>{{get alumno parcial.id}}</p>
				
			</td>
		{{/each}}
	</tr>
	{{/each}}

</table>




