<form {{action 'buscar' on='submit'}}>
<p>Periodo: {{input value=periodo name="periodo" id="periodo" placeholder="ENE-MAY15"}}</p>
<p>Matrícula: {{input value=matricula name="matricula" id="matricula" placeholder="A01272089"}}</p>

		  <p><button>Buscar</button></p>
</form>

