{{#x-select value=selectedAlumno}}
	{{#x-option value=null}}
		Selecciona
	{{/x-option}}
	{{#each alumnos as |alumnoChoice|}}
		{{#x-option value=alumnoChoice}}{{alumnoChoice.matricula}}{{/x-option}}
	{{/each}}
{{/x-select}}

{{#x-select value=selectedResponsable}}
	{{#x-option value=null}}
		Selecciona
	{{/x-option}}
	{{#each responsables as |responsableChoice|}}
		{{#x-option value=responsableChoice}}{{responsableChoice.nombre}}{{/x-option}}
	{{/each}}
{{/x-select}}

<p>Semestre:
{{#x-select value=selectedPeriodo}}
	{{#x-option value=null}}
		Selecciona
	{{/x-option}}
	{{#each periodos as |periodoChoice|}}
		{{#x-option value=periodoChoice.id}}{{periodoChoice.semestre}}{{/x-option}}
	{{/each}}
{{/x-select}}
</p>

<button {{action 'saveAsignacion'}}>Guardar</button>