<form {{action 'savePeriodo' on='submit'}}>
	<p>Semestre: {{input value=periodo.semestre}}</p>

	<p>No. parciales: {{input value=numParciales type='number'}}</p>

	<ul>
		{{#each periodo.parciales as |parcial|}}
			<li>
				{{parcial.nombre}}
				{{input type='date' value=parcial.fecha}}
			</li>
		{{/each}}
	</ul>

	<input type='submit' value='Guardar'/>
</form>
