<form {{action 'saveAlumno' on='submit'}}>
	<p>
	<label>Nombre de alumno</label>
	{{input value=alumno.nombre }}
	</p>

	<p>
	<label>Matrícula</label>
	{{input value=alumno.matricula }}
	</p>

	<p>
	<label>Semestre</label>
	{{input value=alumno.semestre }}
	</p>

	<p>
	<label>Carrera</label>
	{{input value=alumno.carrera }}
	</p>

	<input type="submit" value="Guardar" />
</form>