<table>
	<tr>
		<td>
			<p>Nombre</p>
		</td>
		<td>
			<p>Matricula</p>
		</td>
		<td>
			<p>Semestre</p>
		</td>
		<td>
			<p>Carrera</p>
		</td>
		<td>
			<p>Ver</p>
		</td>
		<td>
			<p>Editar</p>
		</td>
		<td>
			<p>Eliminar</p>
		</td>
	</tr>

	{{#each alumnos as |alumno|}}

	<tr>
		<td>
			<p>{{alumno.nombre}}</p>
		</td>
		<td>
			<p>{{alumno.matricula}}</p>
		</td>
		<td>
			<p>{{alumno.carrera}}</p>
		</td>
		<td>
			<p>{{alumno.semestre}}</p>
		</td>
		<td>
			{{#link-to 'administrador.alumnos.checar' alumno.id}}
				Ver
			{{/link-to}}
		</td>
		<td>
			{{#link-to 'administrador.alumnos.editar' alumno.id}}
				Editar
			{{/link-to}}
		</td>
		<td>
			<button {{action 'eliminarAlumno' alumno}}>Eliminar</button>
		</td>
	</tr>
	{{/each}}

</table>




