<table>
	<tr>
		<td>
			<p>Nombre</p>
		</td>
		<td>
			<p>Email</p>
		</td>
		<td>
			<p>Extensión</p>
		</td>
		<td>
			<p>Editar</p>
		</td>
		<td>
			<p>Eliminar</p>
		</td>
	</tr>

	{{#each model as |responsable|}}

	<tr>
		<td>
			<p>{{responsable.nombre}}</p>
		</td>
		<td>
			<p>{{responsable.mail}}</p>
		</td>
		<td>
			<p>{{responsable.extension}}</p>
		</td>
		<td>
			{{#link-to 'administrador.responsables.editar' responsable.id}}
				Editar
			{{/link-to}}
		</td>
		<td>
			<button {{action 'eliminarResponsable' responsable}}>Eliminar</button>
		</td>
	</tr>
	{{/each}}

</table>

