
<ul>
	<li>{{#link-to 'administrador.periodos.crear'}}Crear periodo{{/link-to}}</li>
</ul>


{{#each model as |periodo|}}
	<li>{{#link-to 'administrador.periodos.editar' periodo.id}}{{periodo.semestre}}{{/link-to}}<button {{action 'eliminarPeriodo' periodo}}>Eliminar</button>
</li>
			
{{/each}}