<h1>La vista del Route Administrador</h1>

<ul>
	<li>{{#link-to 'administrador.alumnos'}}Alumnos{{/link-to}}</li>
</ul>
<ul>
	<li>{{#link-to 'administrador.periodos'}}Periodos{{/link-to}}</li>
</ul>
<ul>
	<li>{{#link-to 'administrador.responsables'}}Responsables{{/link-to}}</li>
</ul>
<ul>
	<li>{{#link-to 'administrador.periodos.asignacion'}}Asignación{{/link-to}}</li>
</ul>
<ul>
	<li>{{#link-to 'administrador.consulta'}}Consulta General{{/link-to}}</li>
</ul>

{{outlet}}